<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>create select drop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createDB</display-name>
    <servlet-name>createDB</servlet-name>
    <servlet-class>com.mydb.createDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createDB</servlet-name>
    <url-pattern>/createDB</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>deleteDB</display-name>
    <servlet-name>deleteDB</servlet-name>
    <servlet-class>com.mydb.deleteDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDB</servlet-name>
    <url-pattern>/deleteDB</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>useDB</display-name>
    <servlet-name>useDB</servlet-name>
    <servlet-class>com.mydb.useDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useDB</servlet-name>
    <url-pattern>/useDB</url-pattern>
  </servlet-mapping>
</web-app>